/* Octobre 2020 GUILLEUS Hugues ghugues[at]netc.fr */

body {
	font-family: sans-serif;
	font-size: x-large;
	background-color: Window;
	color: WindowText;
	padding: 3ex;
}

main {
	min-height: 100vh;
}

#run > * {
	display: table;
	margin: auto;
}

#progress {
	max-width: 80vw;
	max-height: 80vh;
}

#bar {
	stroke: dodgerblue;
}

#barBack {
	stroke: WindowText;
	opacity: 5%;
}

button {
	display: table;
	margin: 1ex 1ex 1ex 0;
	font-size: unset;
	font-size: xx-large;
}

/* GRAPH */

#graph {
	display: grid;
	grid-template-columns: repeat(7, 1.5ex);
	grid-gap: 0.2ex;
	margin: 2ex 0 1ex;
}

#graph > div {
	height: 1.5ex;
	border-radius: 0.2ex;
}
#graph > div:hover {
	background: green !important;
}

#graphSave {
	display: table;
	margin-bottom: 1ex;
	padding: 0.1ex;
	font-size: smaller;
}
#graphSave:hover {
	background: Field;
	color: FieldText;
}

.graph-nb-0 {
	background-color: hsl(0, 0%, 90%);
}
.graph-nb-1 {
	background-color: hsl(210, 100%, 90%);
}
.graph-nb-2 {
	background-color: hsl(210, 100%, 80%);
}
.graph-nb-3 {
	background-color: hsl(210, 100%, 60%);
}
.graph-nb-4 {
	background-color: hsl(210, 100%, 40%);
}
.graph-nb-5 {
	background-color: hsl(210, 100%, 20%);
}

/* DROP ZONE */
#drop {
	font-size: xx-large;
	text-align: center;
	margin: 20vh;
}
